#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

@media (prefers-reduced-motion: no-preference) {
  
}

h2 {
  /* color: white; */
  border-bottom: 2px solid #282c34;
}

h2 span {
  color: #282c34;
}

@media only screen and (max-width: 470) {
	#root {
		padding: 0;
    background-color: #282c34;
	}
}